// Colors for Dash and Bar

$black: #1A1826;
$black1: #302D41;
$white: #D9E0EE;
$grey: #988BA2;
$blue: #96CDFB;
$cyan: #89DCEB;
$pink: #F5C2E7;
$yellow: #FAE3B0;
$purple: #C9CBFF;
$teal: #B5E8E0;
$darkteal: #B5E8E0;
$green: #ABE9B3;
$orange: #F8BD96;
$red: #F28FAD;

// Bar Font
// $font: Product Sans;
$font: Museo Slab;

// Dashboard Font
$dashfont: Signika;

// Icon Font
$iconfont: Material Design Icons Desktop;
