$black: #161320;
$black1: 	#1E1E2E;
$white: #D9E0EE;
$grey: #988BA2;
$blue: #ABE9B3;
$cyan: #89DCEB;
$pink: #96CDFB;
$yellow: #FAE3B0;
$purple: #F28FAD;
$teal: #B5E8E0;
$darkteal: #B5E8E0;
$green: #DDB6F2;
$orange: #F8BD96;
$red: #F28FAD;
$blackdark: $black;
$bluealt: $black1;
