$black: #101415;
$black1: #131718;
$white: #C5C8C9;
$grey: #9FA0A0;
$blue: #7BA5DD;
$pink: #EE6A70;
$yellow: #FFB29B;
$purple: #CB92F2;
$green: #96D6B0;
$orange: #CAAA6A;
$red: #FF4757;
$blackdark: $black;
$bluealt: $black1;
