// Colors for Dash and Bar
$black: #0C0F09;	/* #00120B , #000705 , #0C0F09 */
$black1: #1B1E25;	/* #1B1E25 , #161A23 , #191e29 */
$white: #DFFEF3;	/* #FFFFFF , #DFFEF3 , #E5E9f0 */
$grey: #373737;		/* #373737 , #494949 , #5b5b5b */
$blue: #00bbf9;		/* #3a86ff , #00bbf9 , #2277FF */
$cyan: #33fbab;		/* #22fba4 , #33fbab , #05E88D */
$pink: #FE5BAC;		/* #ff59bc , #ff006e , #DB005F */
$yellow: #fee440;	/* #fee440 , #f1c40c , #F2EC0C */
$purple: #9b59b6;	/* #9b5de5 , #8338ec , #6B15E4 */
$teal: #01c38d;		/* #00D2B6 , #00d9c4 , #2FFFE3 */
$darkteal: #02c39a;	/* #028090 , #00A896 , #02c39a */
$green: #05e289;	/* #05E289 , #04b46d , #039A5E */
$orange: #EE9B00;  /* #FA7E07 , #fb5607 , #FC6E2C */
$red: #e63946;		/* #E63946 , #D00000 , #FC0000 */

// Bar Font
// $font: Product Sans;
$font: Museo Slab;

// Dashboard Font
$dashfont: Signika;

// Icon Font
$iconfont: Material Design Icons Desktop;
