$black: #1D2021;
$black1: #282828;
$white: #FBF1C7;
$grey: #A89984;
$blue: #458588;
$cyan: #8EC07C;
$pink: #D3869B;
$yellow: #FABD2F;
$purple: #B12686;
$teal: #8EC07C;
$darkteal: #689D6A;
$green: #B8BB26;
$orange: #FE8019;
$red: #FB4934;
$blualt: $black1;
$blackdark: $black;
