// Colors for Dash and Bar

$black: #1D2021;
$black1: #282828;
$white: #FBF1C7;
$grey: #A89984;
$blue: #458588;
$cyan: #8EC07C;
$pink: #D3869B;
$yellow: #B8BB26;
$purple: #B12686;
$teal: #8EC07C;
$darkteal: #689D6A;
$green: #B8BB26;
$orange: #FE8019;
$red: #FB4934;

// Bar Font
// $font: Product Sans;
$font: Museo Slab;

// Dashboard Font
$dashfont: Signika;

// Icon Font
$iconfont: Material Design Icons Desktop;
