$black: #2E3440;
$black1: #3B4252; //434C5E
$white: #D8DEE9;
$grey: #4C566A; //ECEFF4 //384252
$blue: #A3BE8C;
$cyan: #8FBCBB;
$pink: #BF616A; //D46489
$yellow: #D08770; //BF616A
$purple: #B48EAD;
$teal: #81A1C1;
$darkteal: #5E81AC;
$green: #81A1C1; //A3BE8C
$orange: #D08770;
$red: #BF616A;
$blackdark: $black;
$bluealt: $black1;
