// Colors for Dash and Bar

$black: #2E3440;
$black1: #434C5E;
$white: #D8DEE9;
$grey: #ECEFF4;
$blue: #88C0D0;
$cyan: #8FBCBB;
$pink: #D46389;
$yellow: #EBCB8B;
$purple: #B48EAD;
$teal: #81A1C1;
$darkteal: #5E81AC;
$green: #A3BE8C;
$orange: #EBCB8B;
$red: #BF616A;

// Bar Font
// $font: Product Sans;
$font: Museo Slab;

// Dashboard Font
$dashfont: Signika;

// Icon Font
$iconfont: Material Design Icons Desktop;
