$black: #1E222A;
$black1: #252931; //2e323a // 353b45
$white: #D8DEE9;
$grey: #545862; //545862
$blue: #61AFEF;
$pink: #D46489; //C678DD
$yellow: #EBCB8B;
$purple: #C678DD; //B48EAD
$green: #7EC7A2;
$orange: #CAAA6A;
$red: #E06C75;
$bluealt: #253140;
$blackdark: #15181E;
