//  ┌─┐┌─┐┬  ┌─┐┬─┐┌─┐
//  │  │ ││  │ │├┬┘└─┐
//  └─┘└─┘┴─┘└─┘┴└─└─┘

// Pick any one

// @import "Nord.scss";
// @import "Catppuccin.scss";
@import "OneDark.scss";
// @import "default.scss";
// @import "Tokyonight.scss";
// @import "Gruvbox.scss";
// @import "color.scss";


//  ┌─┐┌─┐┌┐┌┌┬┐┌─┐
//  ├┤ │ ││││ │ └─┐
//  └  └─┘┘└┘ ┴ └─┘

// Bar Font
$font: FiraSans;

// Dashboard Font
$dashfont: Signika;

// Icon Font
$iconfont: Material Design Icons Desktop;
