$black: #1A1B26;
$black1: #24283b;
$grey: #414868;
$white: #a9b1d6;
$blue: #7DCFFF;
$cyan: #7dcfff;
$darkteal: #0db9d7;
$pink: #7AA2F7;
$purple: #BB9AF7;
$orange: #C0CAF5;
$yellow: #73DACA;
$green: #C0CAF5;
$teal: #1abc9c;
$red: #7DCFFF;
$blackdark: $black;
$bluealt: $black1;
