
// Colors
$black: #1f2335;
$black1: #292e42;
$grey: #414868;
$white: #a9b1d6;
$blue: #89ddff;
$cyan: #7dcfff;
$darkteal: #0db9d7;
$pink: #f7768e;
$purple: #9d7cd8;
$orange: #ff9e64;
$yellow: #e0af68;
$green: #9ece6a;
$teal: #1abc9c;
$red: #f7768e;


// Bar Font
// $font: Product Sans;
$font: Museo Slab;

// Dashboard Font
$dashfont: Signika;

// Icon Font
$iconfont: Material Design Icons Desktop;
